* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SERVICE */
.service {
    padding: 3em 0 ;
}
.service-container {
    width: 90%;
    margin: auto;
}

.service-container h2{
    font-size: 2em;
    font-weight: 700;
    color: #404145;
    padding-bottom: 1em;
}
.owl-prev {
    left: -30px;

}
.owl-next {
    right: -30px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 30%;
}
.owl-prev span, .owl-next span {
    font-size: 60px;
    color: black
    ;
}
.slide-list-1-item img {
    width: 100%;
    height: 100%;
    
}
.img-overlay{
    position: absolute;
    top:5%;
    left: 8%;
    width: 100%;
    height: 100%;
}
.img-overlay h4 {
    font-size: 0.875em;
    font-weight: 400;
    color: white;
}
.img-overlay h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

/* INFO */
.info{
    background-color: #f1fdf7;
    padding: 4em 0;
}
.info-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-left {
    padding-right: 7%;
}
.info-left ul {
    list-style: none;
    padding-left: 0;
}
.info-left h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: #404145;
    padding-bottom: 1.5em;

}
.info-left h3 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #404145;
    padding-bottom: 0.5em;
}
.info-left span {
    font-size: 1.5rem;
    font-weight: 400;
    color:rgb(122, 125, 133);
    margin-right: 2%;
}
.info-left p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #62646a;
    padding-bottom: 0 0 1.5em;
}
.info-right {
    padding-right: 0;
}
.info-right img {
    width: 100%;
}
.overlay{
    position: absolute;
    z-index: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
    height: 10%;
}

/* MARKETPLACE */
.marketplace-container {
    width: 90%;
    margin: auto;
    padding: 6em 0;
}
.marketplace-container h2{
    padding-bottom: 2.5em;
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
    color: #404145;

}
.marketplace-item-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem 3rem;
    width: 90%;
    margin: 0 auto;
}
.marketplace-item {
    text-align: center;
    position: relative;
    display: inline-block;
}
.marketplace-item img {
    width: 3rem;
    text-align: center;
    padding-bottom: 1em;
}
.marketplace-item a::before{
    content: '';
    margin: auto;
    width: 20%;
    height: 3px;
    display: block;
    border-bottom: 2px solid #c5c6c9;
    transform: translateY(3.5em);
    transition: 0.5s;
}
.marketplace-item:hover a::before{
    /* Đã hover */
    width: 30%;
    border-bottom: 2px solid green;
}
.marketplace-item p{
    color: #222325;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;

}

/* COMMENTS */
.comment {
    width: 90%;
    margin: auto;
    padding: 6em 0;
}
.owl-two-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-right-wrapper {
    width: 90%;
    margin: auto;
}
.title {
    display: flex;
    align-items: center;
    padding-bottom: 1em ;
}
.title h5{
    font-size: 1.25rem;
    font-weight: 400;
    color: #7a7d85;

}
.title span {
    width: 15%;
}

.item-right-wrapper h3 {
    font-size: 1.875rem;
    color: #003912;
    font-style: italic;
    font-weight: 500;

}

/* BUSINESS */
.business {
    background-color: #0d084d;
    padding: 4em 0;
}
.business-container{
    width: 90%;
    margin: auto;
    display: flex;
}
.logo {
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 2em;
}
.fiverr-logo img {
    width: 90%;
}
.logo span {
    background-color: #584aff;
    border-radius: 15px;
    padding: 3px 7px;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    height: 100%;
    text-align: center;
    margin-left: 5%;
}
.business-left {
    padding-right: 10%;
}
.business-left h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 1.5em;
}
.business-left h3 {
    font-weight: 400;
    padding-bottom: 2em;
    font-size: 1.125rem;
    color: white;
}
.business-left p {
    color: white;
    margin: 0;
    padding-bottom: 0.75em;
}
.checkcircle {
    font-size: 1.5rem;
    color: #d5d4d2;
    margin-right: 2%;
    font-weight: 400;
}
.business-info {
    padding-bottom: 3em;
}
.business-left button {
    font-weight: 700;
}
.business-right img {
    width: 100%;
}

/* ADS */
.ads {
    width: 90%;
    margin: auto;
    background-color: #4a73e8;
    display: flex;
}
.ads-logo img{
    width: 20%;
}



/* PROJECT */
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    
}
.project {
    background-color: #f5f5f5;
    padding: 6rem 0;
}
.project-content {
    width: 90%;
    margin: auto;
}

.headline-left h3 {
    font-size: 2em;
    font-weight: 700;
    color: #404145;
    word-wrap: break-word;
}
.headline-right a{
    color: #4a73e8;
    align-items: right;
    font-size: 1em;
}
.card {
    border: none;
    box-shadow:  1px 1px 4px #d5d4d2;
}
.card img {
    width: 100%;
    height: 237px;
    object-fit: cover;
}
.card h4 {
    font-size: 0.875em;
    font-weight: 700;
    color: #404145;
}
.card-text {
    font-size: 0.875em;
    font-weight: 400;
    color: #95979d;
}
a:hover {
    text-decoration: none;
}

/* @media (min-width: 576px) { 
    body {font-size: 8px;
 }
} */

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    body {font-size: 10px;
 }
} */

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    body {font-size: 12px;
 }
} */

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    body {font-size: 16px;
 }
} */

